<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boda.springboot.mapper.UserMapper">

    <insert id="save"
            parameterType="com.boda.springboot.entity.User"
            useGeneratedKeys="true"
            keyProperty="userId">
        INSERT INTO user (
            username,
            password,
            role
            <if test="realName != null">, real_name</if>
            <if test="email != null and email != ''">, email</if>
            <if test="phone != null and phone != ''">, phone</if>
            <if test="avatarUrl != null">, avatar_url</if>
            <if test="status != null">, status</if>
            <if test="studentId != null and studentId != ''">, student_id</if>
            <if test="college != null">, college</if>
            <if test="jobTitle != null">, job_title</if>
            <if test="profile != null">, profile</if>
            <if test="createTime != null">, create_time</if>
            <if test="updateTime != null">, update_time</if>
            <if test="isDeleted != null">, is_deleted</if>
        )
        VALUES (
            #{username},
            #{password},
            #{role}
            <if test="realName != null">, #{realName}</if>
            <if test="email != null and email != ''">, #{email}</if>
            <if test="phone != null and phone != ''">, #{phone}</if>
            <if test="avatarUrl != null">, #{avatarUrl}</if>
            <if test="status != null">, #{status}</if>
            <if test="studentId != null and studentId != ''">, #{studentId}</if>
            <if test="college != null">, #{college}</if>
            <if test="jobTitle != null">, #{jobTitle}</if>
            <if test="profile != null">, #{profile}</if>
            <if test="createTime != null">, #{createTime}</if>
            <if test="updateTime != null">, #{updateTime}</if>
            <if test="isDeleted != null">, #{isDeleted}</if>
        )
    </insert>

    <update id="update" parameterType="com.boda.springboot.entity.User">
        UPDATE user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="avatarUrl != null and avatarUrl != ''">avatar_url = #{avatarUrl},</if>
            <if test="status != null">status = #{status},</if>
            <if test="studentId != null and studentId != ''">student_id = #{studentId},</if>
            <if test="college != null and college != ''">college = #{college},</if>
            <if test="jobTitle != null and jobTitle != ''">job_title = #{jobTitle},</if>
            <if test="profile != null and profile != ''">profile = #{profile},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            update_time = NOW()
        </set>
        WHERE user_id = #{userId}
    </update>
</mapper>
