<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boda.springboot.mapper.UserMapper">

    <insert id="save"
            parameterType="com.boda.springboot.entity.User"
            useGeneratedKeys="true"
            keyProperty="userId">
        INSERT INTO user (
            username,
            password,
            role
            <if test="realName != null">, real_name</if>
            <if test="email != null">, email</if>
            <if test="phone != null">, phone</if>
            <if test="avatarUrl != null">, avatar_url</if>
            <if test="status != null">, status</if>
            <if test="studentId != null">, student_id</if>
            <if test="college != null">, college</if>
            <if test="jobTitle != null">, job_title</if>
            <if test="profile != null">, profile</if>
            <if test="createTime != null">, create_time</if>
            <if test="updateTime != null">, update_time</if>
            <if test="isDeleted != null">, is_deleted</if>
        )
        VALUES (
            #{username},
            #{password},
            #{role}
            <if test="realName != null">, #{real_name}</if>
            <if test="email != null">, #{email} </if>
            <if test="phone != null">, #{phone}</if>
            <if test="avatarUrl != null">, #{avatarUrl}</if>
            <if test="status != null">, #{status}</if>
            <if test="studentId != null">, #{studentId}</if>
            <if test="college != null">, #{college}</if>
            <if test="jobTitle != null">, #{jobTitle}</if>
            <if test="profile != null">, #{profile}</if>
            <if test="createTime != null">, #{createTime}</if>
            <if test="updateTime != null">, #{updateTime}</if>
            <if test="isDeleted != null">, #{isDeleted}</if>
        )
    </insert>

</mapper>
